.chamada  {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--branco);
    text-align: center;

    background-color: var(--cor3-merlin);

    padding-top: 12.25rem;
    padding-bottom: 2.5rem;
}

.chamada__img {

}

.chamada__content {
    color: #202454;
}

.chamada__titulo {
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 1.5rem;
}

.chamada__texto {
    font-size: 1.25rem;
    line-height: normal;

    margin: 0 auto 2.5rem;
}

@media screen and (min-width: 768px) {
    .chamada__texto {
        max-width: 400px;
    }
    .chamada__titulo{
        font-size: 3.25rem;
        margin-bottom: 2.5rem;
        max-width: 400px;
    }

    .chamada__content {
        top: 1rem;
        left: -11rem;
        position: relative;
        z-index: 2;
    }
}

@media screen and (min-width: 1024px) {
    .chamada{
        /*padding-top: 27.25rem;*/
    }

    .chamada__titulo{
        font-size: 2.85rem;
        margin-bottom: 2.5rem;
    }

    .chamada__content {
        top: -5rem;
        left: -13rem;
        position: relative;
        z-index: 2;
    }

    .chamada__cadastros {
        position: absolute;

    }
}

/**@media screen and (min-width: 1500px){
    .chamada__content {
        left: -27rem;
    }

    .chamada__botao {
        position: absolute;
        margin-left: 33rem;
        margin-top: -13rem;
        flex-direction: column;
    }

    .chamada__botao--content {
        width: 250px;
    }
}**/
