.chamada__img {
    display: none;
}
@media screen and (min-width: 768px){

    .chamada__img {
        display: flex;
    }

    .chamada__img--prancheta1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 20rem;
    }

    .chamada__img--prancheta2 {
        /*position: absolute; */
        /* top: 15rem; */
        margin-left: 16rem;
        margin-bottom: -24rem;
        margin-top: 0rem;
        /* right: -2rem; */
        width: 32rem;
    }
}

@media screen and (min-width: 1024px){
    .chamada__img {
    }

    .chamada__img--prancheta1 {
        position: absolute;
        top: -4rem;
        right: 0;
        width: 48rem;
    }

    .chamada__img--prancheta2 {
        /* position: absolute; */
        /* top: 15rem; */
        margin-left: 30rem;
        margin-bottom: -24rem;
        margin-top: -9rem;
        /* right: -2rem; */
        width: 44rem;
    }
}
